<!DOCTYPE html>
  <% if @momentDay < 19%>
  <html class="light-mode-logro">
  <% else %>
  <html>
  <%end%>
<head>
  <title>Logros</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
  <link href="<%= url('/logros.css') %>" rel="stylesheet" type="text/css"/>
  <link href="<%= url('/variant-style.css') %>" rel="stylesheet" type="text/css"/>
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
  <h1><center>Logros 🥇</center></h1>
  <% if @logros_usuario != nil %>
    <ul>
      <% @logros_usuario.each do |logro| %>
        <li>
          <h2><%= logro.name %></h2>
          <p><%= logro.description%><p>
          <progress value="<%= @user.total_score %>" max="<%= logro.point  %>"></progress>
          <p> LOGRO DESBLOQUEADO </p>
        </li>
      <% end %>

      <% @logrosNO_obtenidos.each do |logro| %>
        <li class="locked" id="not">
          <h2 class="locked-text"><%= logro.name %></h2>
          <p class="locked-text"><%= logro.description %></p>
          <progress value="<%= @user.total_score %>" max="<%= logro.point %>"></progress>
          <p> Te faltan <%=logro.point - @user.total_score%> puntos </p>
        </li>
      <% end %>

    </ul>
  <% end %>

	<div>
		<a href="/principal" class="boton">Volver Principal</a>
	</div>

</body>
</head>
