<!DOCTYPE html>
  <% if @momentDay < 19%>
  <html class="light-mode-logro">
  <% else %>
  <html>
  <%end%>
<head>
  <title>Logros</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
  <link href="<%= url('/logros.css') %>" rel="stylesheet" type="text/css"/>
  <link href="<%= url('/variant-style.css') %>" rel="stylesheet" type="text/css"/>
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
  <h1><center>Logros ðŸ¥‡</center></h1>
  <% if @logros_usuario != nil %>
    <ul>
      <% @logros_usuario.each do |logro| %>
      <% if logro.name == 'SUG-MATH'%>
        <li id='l1'>
      <% end %>
      <% if logro.name == 'Primera Correcta'%>
        <li id='l2'>
      <% end %>
      <% if logro.name == 'Bien jugado'%>
        <li id='l3'>
      <% end %>
      <% if logro.name == 'Sobre Marcha'%>
        <li id='l4'>
      <% end %>
      <% if logro.name == '3ÌµÌ ÌŸÍ‡Í‘Ì¿Í˜3Ì¸Ì»ÌºÌ¦Í’Í›Ì€3Ì´ÌºÍ‘ÍŠÍœÍœÍ3Ì´Ì¡Ì¢Ì¦Ì“ÍŒÍ˜3Ì´Ì¡Ì ÍšÍ‹ÌÌ•3ÌµÌ˜ÍŽÌªÌ¿ÌˆÌÍ‹3Ì´Í”Í‰Í”Í‘ÌˆÌ3ÌµÌ¼Ì Ì™ÌÌˆÌÌš3ÌµÍ”Ì¦Ì’Í’Ì•'%>
        <li id='l5'>
      <% end %>
      <% if logro.name == 'Dominio de matematicas'%>
        <li id='l6'>
      <% end %>
      <% if logro.name == 'Ya podes dar clases'%>
        <li id='l7'>
      <% end %>
          <h2><%= logro.name %></h2>
          <p><%= logro.description%><p>
          <progress value="<%= @user.total_score %>" max="<%= logro.point  %>"></progress>
          <p> LOGRO DESBLOQUEADO </p>
        </li>
      <% end %>

      <% @logrosNO_obtenidos.each do |logro| %>
      <% if logro.name == 'Primera Correcta'%>
        <li id='l2' class="locked">
      <% end %>
      <% if logro.name == 'Bien jugado'%>
        <li id='l3' class="locked">
      <% end %>
      <% if logro.name == 'Sobre Marcha'%>
        <li id='l4' class="locked">
      <% end %>
      <% if logro.name == '3ÌµÌ ÌŸÍ‡Í‘Ì¿Í˜3Ì¸Ì»ÌºÌ¦Í’Í›Ì€3Ì´ÌºÍ‘ÍŠÍœÍœÍ3Ì´Ì¡Ì¢Ì¦Ì“ÍŒÍ˜3Ì´Ì¡Ì ÍšÍ‹ÌÌ•3ÌµÌ˜ÍŽÌªÌ¿ÌˆÌÍ‹3Ì´Í”Í‰Í”Í‘ÌˆÌ3ÌµÌ¼Ì Ì™ÌÌˆÌÌš3ÌµÍ”Ì¦Ì’Í’Ì•'%>
        <li id='l5' class="locked">
      <% end %>
      <% if logro.name == 'Dominio de matematicas'%>
        <li id='l6' class="locked">
      <% end %>
      <% if logro.name == 'Ya podes dar clases'%>
        <li id='l7' class="locked">
      <% end %>

          <h2 class="locked-text"><%= logro.name %></h2>
          <p class="locked-text"><%= logro.description %></p>
          <progress value="<%= @user.total_score %>" max="<%= logro.point %>"></progress>
          <p class="falta"> Te faltan <%=logro.point - @user.total_score%> puntos </p>
        </li>
      <% end %>

    </ul>
  <% end %>

	<div>
		<a href="/principal" class="boton">Volver</a>
	</div>

</body>
</head>
