<!DOCTYPE html>
  <% if @momentDay < 19%>
  <html class="light-mode-perfil">
  <% else %>
  <html>
  <%end%>
<head>
  <title>Mi Perfil</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
	 <link href="<%= url('/perfil.css') %>" rel="stylesheet" type="text/css"/>
	 <link href="<%= url('/variant-style.css') %>" rel="stylesheet" type="text/css"/>
</head>

<body>

	<div class="card">
		<img class="card-cover-image" src="<%= url('/images/fondo-per.jpg')%>">
	  <div class="img">
	    <img class="imagen" src="<%= @profile.picture %>">
	  </div>
	  <div class="content">
	    <h2><%= @user.name %></h2>
	    <p><%= @user.email %></p>
	    <div class="box">
	      <h1>Puntaje: <%= @user.total_score %></h1>
	    </div>
	  </div>
	</div>
	<div id="but">
		<a href="/principal" class="boton" id="pp">Pagina Principal</a>
		<a href="/modificar_perfil" class="boton" id="mod">Modificar</a>
	</div>
</body>
</html>
