<!DOCTYPE html>
<html>
<head>
  <title>Mi Perfil</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
	 <link href="<%= url('/perfil.css') %>" rel="stylesheet" type="text/css"/>
</head>

<body>
	<center>
		<img class="imagen" src ="<%= @profile.picture %>">
	</center>

	<div class="container">
		<h1>Perfil de <%= @user.name %></h1>
		<p>Nombre: <%= @user.name %></p>
		<p>Email: <%= @user.email%></p>
		<p>Score: <%= @user.total_score%></p>
	</div>
	<div><center>
		<a href="/modificar_perfil" class="boton">Modificar</a>
		<a href="/principal" class="boton">Volver Principal</a>
	</div>
</body>
</html>
