<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego</title>
    <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
    <link href="<%= url('/pregunta.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="salir">
        <a href="/niveles?tema=<%= session[:tema_id] %>" class="boton-salir">Salir</a>
    </div>
    <div id="pregunta">
    <form action="/verificar" method="post">
            <h3><%= @question.description %></h3>
            <ul>
                <!--El método shuffle en Ruby se utiliza para mezclar aleatoriamente los elementos de un arreglo.
                    Cuando se llama al método shuffle en un arreglo, se reorganizan los elementos en un orden aleatorio.
                    Esto significa que los elementos del arreglo original se mezclarán de forma aleatoria,
                    creando un nuevo arreglo con el orden aleatorio. El arreglo original no se modifica. -->
                <% options = Option.where(question_id: @question.id).shuffle %>
                <% options.each do |option| %>
                    <input type="hidden" name="question" value="<%= @question.id %>">
                    <input type="hidden" name="indice" value="<%= @indice %>">
                    <button type="submit" name ="opcionElegida" value="<%= option.id %>"> <%= option.description %> </button>
                <% end %>
            </ul>
    <form>
    </div>
    <div id="score">
        <h2>Score de <%= @user.name%>: <%= @user.total_score%></h2>
    </div>
</body>
</html
>
