<!DOCTYPE html>
  <% if @moment_day < 19%>
  <html class="light-mode-principal">
  <% else %>
  <html>
  <%end%>
<head>
  <title>SUG-MATH</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">

  <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <title> Menu </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initialinitial-scale=1.0">

  <link href="<%= url('/principal.css') %>" rel="stylesheet" type="text/css"/>
  <link href="<%= url('/variant-style.css') %>" rel="stylesheet" type="text/css"/>

  </head>
  <body>

<div id="sideNavigation" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/perfil">Perfil</a>
    <a href="/logros">Logros</a>
    <a href="/ranking">Ranking</a>
    <a id="form">
      <form action="/logout" method="post">
        <button type="submit" id="hds">Logout</button>
      </form>
    </a>
</div>
  <nav class="topnav">
    <a href="#" onclick="openNav()" id="but">
      <svg width="30" height="30" id="icoOpen">
        <% if @moment_day != 'night'%>
          <path d="M0,5 30,5" stroke="#ffffff" stroke-width="5"/>
          <path d="M0,14 30,14" stroke="#ffffff" stroke-width="5"/>
          <path d="M0,23 30,23" stroke="#ffffff" stroke-width="5"/>
        <% else %>
          <path d="M0,5 30,5" stroke="#06c7f8" stroke-width="5"/>
          <path d="M0,14 30,14" stroke="#06c7f8" stroke-width="5"/>
          <path d="M0,23 30,23" stroke="#06c7f8" stroke-width="5"/>
        <%end%>
      </svg>
    </a>
  </nav>

  <img src="<%=url('/images/SUGMATH-logo.png')%>" alt="logo-app" id="logo">
  <p id="p1">+</p> <p id="p2">-</p> <p id="p3">x</p> <p id="p4">%</p>

  <div id="main">
    <div>
      <div class="tema-list">
        <% @temas.each do |topic|  %>
        <% if topic.nombre == 'Suma'%>
        <div class="tema-item" id="s1">
            <span><%= topic.descripcion %></span>
        <% end %>
        <% if topic.nombre == 'Resta'%>
        <div class="tema-item2" id="s2">
            <span><%= topic.descripcion %></span>
        <% end %>
        <% if topic.nombre == 'Multiplicacion'%>
        <div class="tema-item3" id="s3">
            <span><%= topic.descripcion %></span>
        <% end %>
        <% if topic.nombre == 'Division'%>
        <div class="tema-item4" id="s4">
            <span><%= topic.descripcion %></span>
        <% end %>
          <a href="/niveles?tema=<%= topic.id %>" class="tema-button">
          </a>
        </div>
        <% end %>
      </div>
    </div>

    <script>
      function openNav() {
        document.getElementById("sideNavigation").style.width = "200px";
        document.getElementById("main").style.marginLeft = "200px";
        document.getElementById("but").style.display = "none";
      }
      function closeNav() {
        document.getElementById("sideNavigation").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("but").style.display = "block";
      }
    </script>

  </div>
  </body>
</html>
