<!DOCTYPE html>
<html>
<head>
  <title>SUG-MATH</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">

  <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <title> Menu </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initialinitial-scale=1.0">

  <link href="<%= url('/principal.css') %>" rel="stylesheet" type="text/css"/>

  </head>
  <body>
    <div>
      <label>SELECCION DE TEMA</label>
      <div class="tema-list">
        <% @temas.each do |topic|  %>
        <div class="tema-item">
          <a href="/niveles?tema=<%= topic.id %>" class="tema-button">
          <div class="tema-content">
            <img src="<%=topic.img%>" alt="Imagen del tema" style="width: 100px; margin-bottom: 10px; border: none;">
            <h3><%= topic.nombre %></h3>
            <p><%= topic.descripcion %></p>
          </div>
          </a>
        </div>
        <% end %>
      </div>
    </div>


    <div class="menu-lateral">
       <ul>
        <li><a href="/perfil">Perfil</a>
        <li><a href="/logros">Logros</a>
        <li><a href="/ranking">Ranking</a>
        <li><a id="form"><form action="/logout" method="post">
               <button type="submit" id="hds">Logout</button>
               </form>
            </a>
      </ul>
    </div>

  </body>
</html>
