<!DOCTYPE html>
<html>
<head>
  <title>Ranking</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="<%= url('/ranking.css') %>" rel="stylesheet" type="text/css"/>
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">

  <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
  <h1><center>Ranking</center></h1>
  <ol>

  <%pos = Ranking.find_by(user_id: session[:user_id])%>

    <% count = 0 %>
    <% @ranking.each do |rank| %>
      <%user = User.find_by(id: rank.user_id)%>
      <%profile = user.profile%>
      <% if pos.position == count+1 %>
        <img class="imagen" src ="<%= profile.picture %>">
        <p id="yo"> <%= count+1%> Usuario: <%= user.name %></p> 
        <p id="io">Score: <%=user.total_score%></p>
      <% else %>
        <img class="imagen" src ="<%= profile.picture %>">
        <p> <%= count+1%> Usuario: <%= user.name %></p> 
        <p>Score: <%=user.total_score%></p>
      <% end %>
      <% count += 1 %>
    <% break if count >= 5 %>
    <% end %>

  <% (5 - count).times do %>
    <p> <%= count+1%> Usuario: - - - -</p>
    <p>Score: - -</p>
  <% end %>

  <!-- Esto es para ver la posicion del usuario -_- -->

  </ol>

  <ol>
    <% @ranking.each do |rank| %>
      <%user = User.find_by(id: pos.user_id)%>
      <%profile = user.profile%>
      <% if pos.position > 5%>
        <img class="imagen" src ="<%= profile.picture %>">
        <p id="yo"> <%= pos.position%> Usuario: <%= user.name %></p> 
        <p id="io">Score: <%=user.total_score%></p>
      <% end %>
    <% break %>
  <% end %>
  </ol>

  <div>
    <a href="/principal" class="boton">Volver Principal</a>
  </div>
</body>

